
#adminUsuarios, #adminServicios, #adminClientes{

    *{
        color: white;
    }
    .agregarUsuario, .agregarServicio, .agregarCliente{
        
        font-size: 30pt;
        
    }

    #tablaUsuarios, #tablaServicios, #tablaClientes{

        input, select{
            min-width: 110px !important;
        }

        i{
            font-size: 16pt;
        }
        input:disabled, select:disabled{
            border: 0 !important;
        }
    }

    option{
        color: $color2;
    }
    

}